# Dependancies
/node_modules

# Environment Variables
/server/.env

# package.json
package.json
package-lock.json

# google signup to implement later
server/routers/googleSignup.js

server/controllers/googleSignupController.js
